SECRET_KEY=django-insecure-abp-dev-key-cambiar-en-produccion
DEBUG=True
USE_SUPABASE=True
ALLOWED_HOSTS=127.0.0.1,localhost,testserver
DB_NAME=postgres
DB_USER=postgres.xdqxrwrdmsnzujdzwiez
DB_PASSWORD=abpplatformgrupo06
DB_HOST=aws-1-us-east-2.pooler.supabase.com
DB_PORT=6543